@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins&display=swap');

body {
  background-color: #4C0033;
  font-family: 'Poppins', sans-serif;
  color: #E80F88;
}

#my-avatar {
  width: 150px;
  border-radius: 50%;
  margin: 20px;
}

#my-name {
  font-family: 'Kalam', cursive;
}

#content {
  text-align: center;
}