@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Kalam&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #4C0033;
  font-family: 'Cinzel', serif;
  color: #E80F88;
  width: auto;
  height: 100%;

}

#my-avatar {
  width: 150px;
  border-radius: 50%;
  margin: 20px;
}

#my-name {
  font-family: 'Kalam', cursive;
}

#content {
  text-align: center;
}

header {
  display: flex;
}

nav {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #E80F88;
}

header {
  margin-top: 16px;
}

.nav-link1, .nav-link2 {
  border-bottom: 0 solid #E80F88;
  animation: 2s;
  width: auto;
}

#right-side {
  width: 50%;
  float: right;
  margin-left: 80%;
}

#right-side:hover {
  border-bottom: 1px solid #E80F88;
  animation: 2s;
}

#right-side::after {
  border-bottom: 1px solid #E80F88;
  animation: 2s;
}

#left-side {
  width: 50%;
  float: left;
  margin-left: 20px;
}


.nav-link1:hover, .nav-link2:hover {
  border-bottom: 1px solid #E80F88;
  animation: 2s;
}


.nav-link1::after, .nav-link2::after {
  border-bottom: 1px solid #E80F88;
  animation: 2s;
}

.nav-link {
  margin-left: 8px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer a:first-child {
  margin-right: 16px;
}

.footer1:hover, .footer2:hover {
  border-bottom: 1px solid #E80F88;
  animation: 2s;
}

#content div {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}